# Preprocessing Kaggle Data

### Importing libraries

In [50]:
import pandas as pd
import numpy as np

### Defining path to data

In [51]:
path_to_data = "C:/Users/Matheus/Desktop/Github/LEAGUE_RANKED_ANALYSIS/high_diamond_ranked_10min.csv"

### Retrieving data

In [52]:
df = pd.read_csv(path_to_data, index_col=0)

In [53]:
df.head()

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
gameId,,,,,,,,,,,,,,,,,,,,,
4519157822,0,28,2,1,9,6,11,0,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
4523371949,0,12,1,0,5,5,5,0,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
4521474530,0,15,0,0,7,11,4,1,1,0,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
4524384067,0,43,1,0,4,5,5,1,0,1,...,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4436033771,0,75,4,0,6,6,6,0,0,0,...,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4

### Dataframe and variable analysis

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9879 entries, 4519157822 to 4523772935
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   blueWins                      9879 non-null   int64
 1   blueWardsPlaced               9879 non-null   int64
 2   blueWardsDestroyed            9879 non-null   int64
 3   blueFirstBlood                9879 non-null   int64
 4   blueKills                     9879 non-null   int64
 5   blueDeaths                    9879 non-null   int64
 6   blueAssists                   9879 non-null   int64
 7   blueEliteMonsters             9879 non-null   int64
 8   blueDragons                   9879 non-null   int64
 9   blueHeralds                   9879 non-null   int64
 10  blueTowersDestroyed           9879 non-null   int64
 11  blueTotalGold                 9879 non-null   int64
 12  blueAvgLevel                  9879 non-null   float64
 13  blueTotalExperience           9879 non-null   int64
 14  blueTotalMinionsKilled        9879 non-null   int64
 15  blueTotalJungleMinionsKilled  9879 non-null   int64
 16  blueGoldDiff                  9879 non-null   int64
 17  blueExperienceDiff            9879 non-null   int64
 18  blueCSPerMin                  9879 non-null   float64
 19  blueGoldPerMin                9879 non-null   float64
 20  redWardsPlaced                9879 non-null   int64
 21  redWardsDestroyed             9879 non-null   int64
 22  redFirstBlood                 9879 non-null   int64
 23  redKills                      9879 non-null   int64
 24  redDeaths                     9879 non-null   int64
 25  redAssists                    9879 non-null   int64
 26  redEliteMonsters              9879 non-null   int64
 27  redDragons                    9879 non-null   int64
 28  redHeralds                    9879 non-null   int64
 29  redTowersDestroyed            9879 non-null   int64
 30  redTotalGold                  9879 non-null   int64
 31  redAvgLevel                   9879 non-null   float64
 32  redTotalExperience            9879 non-null   int64
 33  redTotalMinionsKilled         9879 non-null   int64
 34  redTotalJungleMinionsKilled   9879 non-null   int64
 35  redGoldDiff                   9879 non-null   int64
 36  redExperienceDiff             9879 non-null   int64
 37  redCSPerMin                   9879 non-null   float64
 38  redGoldPerMin                 9879 non-null   float64
dtypes: float64(6), int64(33)
memory usage: 3.0 MB

In [55]:
df.describe()

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
count,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,...,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000
mean,0.499038,22.288288,2.824881,0.504808,6.183925,6.137666,6.645106,0.549954,0.361980,0.187974,...,0.043021,16489.041401,6.925316,17961.730438,217.349226,51.313088,-14.414111,33.620306,21.734923,1648.904140
std,0.500024,18.019177,2.174998,0.500002,3.011028,2.933818,4.064520,0.625527,0.480597,0.390712,...,0.216900,1490.888406,0.305311,1198.583912,21.911668,10.027885,2453.349179,1920.370438,2.191167,149.088841
min,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,11212.000000,4.800000,10465.000000,107.000000,4.000000,-11467.000000,-8348.000000,10.700000,1121.200000
25%,0.000000,14.000000,1.000000,0.000000,4.000000,4.000000,4.000000,0.000000,0.000000,0.000000,...,0.000000,15427.500000,6.800000,17209.500000,203.000000,44.000000,-1596.000000,-1212.000000,20.300000,1542.750000
50%,0.000000,16.000000,3.000000,1.000000,6.000000,6.000000,6.000000,0.000000,0.000000,0.000000,...,0.000000,16378.000000,7.000000,17974.000000,218.000000,51.000000,-14.000000,28.000000,21.800000,1637.800000
75%,1.000000,20.000000,4.000000,1.000000,8.000000,8.000000,9.000000,1.000000,1.000000,0.000000,...,0.000000,17418.500000,7.200000,18764.500000,233.000000,57.000000,1585.500000,1290.500000,23.300000,1741.850000
max,1.000000,250.000000,27.000000,1.000000,22.000000,22.000000,29.000000,2.000000,1.000000,1.000000,...,2.000000,22732.000000,8.200000,22269.000000,289.000000,92.000000,10830.000000,9333.000000,28.900000,2273.200000

### Variables
Looking at those 40 variables on our dataset, it is possible to notice that some of them correspond to correlated situations. As an example, we can take the Kills and Deaths of each side: red side kills will be the same as blue side deaths and vice versa.

Separating some variables, we can move forward to prepare our dataframe for future analysis. Also, we are looking to answer some main questions with our data, so it is good to look into those repeated variables.

#### Match Variables - 4
- <font color=orange>blueWins</font> - match winner **(0 - red / 1 - blue)**
- <font color=orange>blueFirstBlood</font> - match first blood **(0 - red / 1 - blue)**
- <font color=blue>blueKills</font> - blue side kills **(red side deaths)**
- <font color=red>redKills</font> - red side kills **(blue side deaths)**

#### Map Control Variables - 12
- <font color=blue>blueWardsPlaced</font>, <font color=blue>blueWardsDestroyed</font>
- <font color=blue>blueEliteMonsters</font>
- <font color=blue>blueTowersDestroyed</font>
- <font color=blue>blueDragons</font>, <font color=blue>blueHeralds</font>
- <font color=red>redWardsPlaced</font>, <font color=red>redWardsDestroyed</font>
- <font color=red>redEliteMonsters</font>
- <font color=red>redTowersDestroyed</font>
- <font color=red>redDragons</font>, <font color=red>redHeralds</font>
 
#### Side Advantage - 8
- <font color=blue>blueAssists</font>
- <font color=blue>blueTotalGold</font>
- <font color=blue>blueTotalExperience</font>
- <font color=blue>blueCSPerMin</font>
- <font color=red>redAssists</font>
- <font color=red>redTotalGold</font>
- <font color=red>redTotalExperience</font>
- <font color=red>redCSPerMin</font>

It is important to notice that some variables were left behind due to their correspondence in other variables. We can use as an example the Advantage and Diff variables, that can be seen through the total variables difference.

### Fixing dataframe

In [56]:
df_variables = ["blueWins", "blueFirstBlood", "blueKills", "redKills",
                "blueAssists", "redAssists",
                "blueWardsPlaced", "blueWardsDestroyed", "redWardsPlaced", "redWardsDestroyed",
                "blueEliteMonsters", "blueTowersDestroyed", "redEliteMonsters", "redTowersDestroyed",
                "blueDragons", "blueHeralds", "redDragons", "redHeralds",
                "blueTotalGold", "blueTotalExperience", "redTotalGold", "redTotalExperience", 
                "blueCSPerMin", "redCSPerMin"]

In [57]:
main_df = df[df_variables]

In [58]:
rename_variables = {"blueWins": "matchWinner", "blueFirstBlood": "matchFirstBlood"}
main_df = main_df.rename(columns=rename_variables)

In [59]:
main_df.head()

,matchWinner,matchFirstBlood,blueKills,redKills,blueAssists,redAssists,blueWardsPlaced,blueWardsDestroyed,redWardsPlaced,redWardsDestroyed,...,blueDragons,blueHeralds,redDragons,redHeralds,blueTotalGold,blueTotalExperience,redTotalGold,redTotalExperience,blueCSPerMin,redCSPerMin
gameId,,,,,,,,,,,,,,,,,,,,,
4519157822,0,1,9,6,11,8,28,2,15,6,...,0,0,0,0,17210,17039,16567,17047,19.5,19.7
4523371949,0,0,5,5,5,2,12,1,12,1,...,0,0,1,1,14712,16265,17620,17438,17.4,24.0
4521474530,0,0,7,11,4,14,15,0,15,3,...,1,0,0,0,16113,16221,17285,17254,18.6,20.3
4524384067,0,0,4,5,5,10,43,1,15,2,...,0,1,0,0,15157,17954,16478,17961,20.1,23.5
4436033771,0,0,6,6,6,7,75,4,17,2,...,0,0,1,0,16400,18543,17404,18313,21.0,22.5

### Last changes on our dataset

In [60]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9879 entries, 4519157822 to 4523772935
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   matchWinner          9879 non-null   int64
 1   matchFirstBlood      9879 non-null   int64
 2   blueKills            9879 non-null   int64
 3   redKills             9879 non-null   int64
 4   blueAssists          9879 non-null   int64
 5   redAssists           9879 non-null   int64
 6   blueWardsPlaced      9879 non-null   int64
 7   blueWardsDestroyed   9879 non-null   int64
 8   redWardsPlaced       9879 non-null   int64
 9   redWardsDestroyed    9879 non-null   int64
 10  blueEliteMonsters    9879 non-null   int64
 11  blueTowersDestroyed  9879 non-null   int64
 12  redEliteMonsters     9879 non-null   int64
 13  redTowersDestroyed   9879 non-null   int64
 14  blueDragons          9879 non-null   int64
 15  blueHeralds          9879 non-null   int64
 16  redDragons           9879 non-null   int64
 17  redHeralds           9879 non-null   int64
 18  blueTotalGold        9879 non-null   int64
 19  blueTotalExperience  9879 non-null   int64
 20  redTotalGold         9879 non-null   int64
 21  redTotalExperience   9879 non-null   int64
 22  blueCSPerMin         9879 non-null   float64
 23  redCSPerMin          9879 non-null   float64
dtypes: float64(2), int64(22)
memory usage: 1.9 MB

In [61]:
main_df.describe()

,matchWinner,matchFirstBlood,blueKills,redKills,blueAssists,redAssists,blueWardsPlaced,blueWardsDestroyed,redWardsPlaced,redWardsDestroyed,...,blueDragons,blueHeralds,redDragons,redHeralds,blueTotalGold,blueTotalExperience,redTotalGold,redTotalExperience,blueCSPerMin,redCSPerMin
count,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,...,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000
mean,0.499038,0.504808,6.183925,6.137666,6.645106,6.662112,22.288288,2.824881,22.367952,2.723150,...,0.361980,0.187974,0.413098,0.160036,16503.455512,17928.110133,16489.041401,17961.730438,21.669956,21.734923
std,0.500024,0.500002,3.011028,2.933818,4.064520,4.060612,18.019177,2.174998,18.457427,2.138356,...,0.480597,0.390712,0.492415,0.366658,1535.446636,1200.523764,1490.888406,1198.583912,2.185844,2.191167
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,6.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,10730.000000,10098.000000,11212.000000,10465.000000,9.000000,10.700000
25%,0.000000,0.000000,4.000000,4.000000,4.000000,4.000000,14.000000,1.000000,14.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,15415.500000,17168.000000,15427.500000,17209.500000,20.200000,20.300000
50%,0.000000,1.000000,6.000000,6.000000,6.000000,6.000000,16.000000,3.000000,16.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,16398.000000,17951.000000,16378.000000,17974.000000,21.800000,21.800000
75%,1.000000,1.000000,8.000000,8.000000,9.000000,9.000000,20.000000,4.000000,20.000000,4.000000,...,1.000000,0.000000,1.000000,0.000000,17459.000000,18724.000000,17418.500000,18764.500000,23.200000,23.300000
max,1.000000,1.000000,22.000000,22.000000,29.000000,28.000000,250.000000,27.000000,276.000000,24.000000,...,1.000000,1.000000,1.000000,1.000000,23701.000000,22224.000000,22732.000000,22269.000000,28.300000,28.900000

In [62]:
new_path_to_data = "C:/Users/Matheus/Desktop/Github/LEAGUE_RANKED_ANALYSIS/preprocessed_data.csv"

In [63]:
main_df.to_csv(new_path_to_data)